.dropDownMenus{
    background-color: $backgroundSearch;
    color:white;

    .wrapper{
        padding:30px 0;
    }

    form {
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        label, select {
            display: block;
            text-align: center;
        }
        
        select, input[type="date"] {
            border-style: none;
            width:175px;
            height: 35px;
            text-align: center;
        }

        input[type="date"] {
            padding-left: 15px
        }

        div div {
            padding: 0 33px;
        }

    }

    form>div{
        display:flex;
        // gap:25px;
    }

}
