.dropDownMenus{
    background-color: $backgroundSearch;
    color:white;

    .wrapper{
        padding:30px 0;
    }

    form{
        display:flex;
        // flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap:25px;
    }

    form>div{
        display:flex;
        gap:25px;
    }
}