header {
    // background-image: url("../assets/melissa-askew-AUXanrckXn0-unsplash.jpg");
    background-image: url("../assets/wai-siew-CZRC2jMQPeY-unsplash.jpg");
    background-size: cover;
    height:100vh;
    // margin-bottom:200px;
    
    // position: relative;

    .wrapper{
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align:center;
    }
}