html {
    font-size: 62.5%;
}

body {
    font-family: $bodyFont, sans-serif;
    font-size: 1.8rem;
    font-weight:normal;
    // color:$black;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
}

h1{
    font-family: $accentFont, cursive;
    font-weight:400;
    font-size:12rem;
    letter-spacing: 0.6rem;
    line-height: 12rem;
    color:$headerMain;
}

header {
    p{
        color:$headerAccent;
        font-size: 3rem;
        line-height: 4rem;
    }
}